@import "../../vars.css";

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.40);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.75px;
  font-family: var(--font-parisienne), cursive, serif;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 35%;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-size: 100% 100%; /* Default size */
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out, color 0.4s ease-in-out;
  color: var(--color-secondary);
}

/* Odd items (1st, 3rd, 5th, ...) */
.aboutItem:nth-child(odd) {
  background-image: linear-gradient(
    90deg,
    var(--color-dark) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Even items (2nd, 4th, 6th, ...) */
.aboutItem:nth-child(even) {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    var(--color-dark) 100%
  );
}

/* Hover effect for odd items */
.aboutItem:nth-child(odd):hover {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    var(--color-dark) 100%
  );
  background-size: 150% 100%; /* Increase background size for zoom effect */
  color: var(--color-text);
}

/* Hover effect for even items */
.aboutItem:nth-child(even):hover {
  background-image: linear-gradient(
    90deg,
    var(--color-dark) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 150% 100%; /* Increase background size for zoom effect */
  color: var(--color-text);
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 1.2rem;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-top: -20px;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
    gap: 30px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
    padding: 10px;
  }
  .aboutItem div{
    padding: 0 20px;
  }
}
