@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:ital,wght@0,300;0,500;0,600;1,400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
